alias tr='tree -L 2 -Dh'
alias h='history'
alias update='sudo apt update -y'
alias upgrade='sudo apt upgrade -y'
alias autoremove='sudo apt autoremove -y'
alias dps='docker ps --all'
alias di='docker images --all'
alias de='docker exec'
alias x='exit'
alias c='clear'
# alias cb='chromium-browser --proxy-server=socks://localhost:19999 > /dev/null 2>&1 &'

