alias c='clear'
alias h='history'
alias x='clear'
alias l='exa -lgh'
alias la='exa -lagh'
alias cat='batcat'
alias dps='docker ps'
alias di='docker images'
alias sysupd='sudo apt update -y && sudo apt upgrade -y && sudo apt autoremove -y'
alias shr='shred -n 3 -u'
alias i='sudo apt install'
